<!DOCTYPE html>
<html lang="{{ current_lang }}">
    <head>
        <meta charset="UTF-8">
        <title>{{ _('Report') }}</title>
    </head>
    <body>
        <h2>{{ _('Execution results') }}</h2>
        <div>
            {% for item in content %}
                <div class="initial-form"  id="div-results">
                    <h3>{{ _('Applied configuration') }}</h3>
                    {{ item.config_html|safe }}
                    <h3>{{ _('Execution analysis graphs') }}</h3>
                    <img src="data:image/png;base64,{{ item.plot_grap }}" alt="plot_grap">
                    <img src="data:image/png;base64, {{ item.box_graph }}" alt="box_graph">
                </div>
                    <h3>{{ _('Test data generated') }}</h3>
                    {{ item.exec_data_html|safe }}
                <hr>
            {% endfor %}
        </div>
    </body>
</html>