{% extends 'index.html' %} {% block body %}
    <main>
        <header id="context-section" class="header__title">
            <h1 class="title">BiTe Playground</h1>
        </header>

    <div class="playground">
        <div id="configFormContainer" class="playground__left-panel">
            <label class="form__item-label">{{ _('Press') }}
                <img src="{{ url_for('static', filename='images/help-icon.png') }}" class="form__item-icon" alt="help">
                {{ _('to get help') }} </label>
            <h2 class="title">{{ _('Playground context') }}</h2>

                <div class="playground__left-panel-form">
                    <form action="{{ url_for('playground_blueprint.show_playground') }}#context-section" method="POST" class="playground__left-panel-form playground__left-panel-form--no-padding">
                        {{ context.hidden_tag() }}
                        <label for="{{ context.problem.id }}" class="form__item-label">
                            {{ context.problem.label.text }}
                            <span class="tooltip">
                            <img src="{{ url_for('static', filename='images/help-icon.png') }}" class="form__item-icon" alt="help">
                            <span class="tooltip__text">{{ _('System selected for experimentation of test data generation.') }}</span>
                        </span>
                        </label>
                        {{ context.problem(class="form__item-input") }}
                        <label for="{{ context.algorithm.id }}" class="form__item-label">
                            {{ context.algorithm.label.text }}
                            <span class="tooltip">
                            <img src="{{ url_for('static', filename='images/help-icon.png') }}" class="form__item-icon" alt="help">
                            <span class="tooltip__text">{{ _('Algorithm selected for test data generation.') }}</span>
                        </span>
                        </label>
                        {{ context.algorithm(class="form__item-input") }}
                        {{ context.apply_button(class="form__item-button") }}
                    </form>
                </div>
            </div>

            <div id="div-results" class="playground__right-panel">
                {% if context.problem.data == "triangle-classification" %}
                    <details id="triangle-classification-collapsible" open class="collapsible">
                        <summary class="collapsible__label">{{ _('Triangle Classification') }}</summary>
                        <p class="collapsible__content">{{ _('The Triangle Classification problem consists of categorizing the type of triangle that is formed given the inputs (measurements of each side). Depending on the inputs the triangle can be classified into:') }}</p>
                        <ul>
                            <li>{{ _('Scalene') }}</li>
                            <li>{{ _('Equilateral') }}</li>
                            <li>{{ _('Isosceles') }}</li>
                            <li>{{ _('Invalid') }}</li>
                            <li>{{ _('Out of range') }}</li>
                        </ul>
                    </details>
                {%  endif %}

                {% if context.algorithm.data == "ga" %}
                    <details id="ga-collapsible" open class="collapsible">
                        <summary class="collapsible__label">{{ _('Genetic Algorithm') }}</summary>
                        <p class="collapsible__content">{{ _('The Genetic Algorithm is a population algorithm based on biological evolution. The process followed by the algorithm is:') }}</p>
                        <ol>
                            <li>{{ _('Select the type of representation of the solution to be generated (real number, binary, permutation, or mixed).') }}</li>
                            <li>{{ _('Initialize a population and evaluate it using the fitness function. A fitness function its a function that evaluates how well a potential solution meets its goals given a problem.') }}</li>
                            <li>{{ _('Apply elitism if indicated. Elitism consists in selecting a defined number of the best individuals in the current population and keep them intact until the next generation.') }}</li>
                            <li>{{ _('Select some chromosomes (also called individuals) from the current population.') }}</li>
                            <li>{{ _('Cross the selected individuals to create new individuals (children).') }}</li>
                            <li>{{ _('Mutate some of the children.') }}</li>
                            <li>{{ _('Evaluate the new population (children) using the fitness function.') }}</li>
                            <li>{{ _('Repeat the steps 3 to 7 until a standstill condition is known or a satisfactory solution is reached.') }}</li>
                        </ol>
                    </details>
                {% endif %}
            </div>
        </div>

        <header id="execution-results" class="header__title">
            <h1 class="title">{{ _('Execution results') }}</h1>
        </header>

        <div class="playground">
            <div id="configFormContainer" class="playground__left-panel">
                {% if config_form_template %}
                    <h2 class="title">{{ _('Algorithm settings') }}</h2>
                    <div class="playground__left-panel-form">
                        <form id="config-form" action="{{ url_for('playground_blueprint.show_playground') }}#execution-results" method="POST" class="playground__left-panel-form playground__left-panel-form--no-padding">
                            {% include config_form_template %}
                        </form>
                        <form action="{{ url_for('playground_blueprint.download_report') }}" method="GET" class="playground__left-panel-form playground__left-panel-form--no-padding">
                            <input id="download-btn" type="submit" value="{{ _('Download report') }}" class="form__item-button" {% if not allow_download %}disabled{% endif %}>
                        </form>
                    </div>
                {% endif %}
            </div>

            <div id="div-results" class="playground__right-panel">
                {% if content %}

                    <details id="successful_execution" open class="collapsible">
                        <summary class="collapsible__label">{{ _('Execution analysis graphs') }}</summary>
                        <p class="collapsible__content">{{ _('The context and parameters indicated for the algorithm are represented in the following table:') }}</p>
                        <div class="output__item">{{ content.config_html|safe }}</div>
                        <p class="collapsible__content">{{ _('The following graphs represent the execution analysis of the algorithm:') }}</p>
                        <img src="data:image/png;base64,{{ content.plot_graph }}" class="output__item-image" alt="plot_graph">
                        <img src="data:image/png;base64, {{ content.box_graph }}" class="output__item-image" alt="box_graph">
                    </details>

                    <details open class="collapsible">
                        <summary id="generated-test-data" class="collapsible__label">{{ _('Test data generated') }}</summary>
                        <p class="collapsible__content">{{ _('The following table shows the execution data generated by the algorithm:') }}</p>

                    <nav aria-label="Pagination">
                        <ul class="pagination">
                            {% if content.current_page > 1 %}
                                <li class="pagination__item">
                                    <a class="pagination__link" href="{{ url_for('playground_blueprint.show_playground', page=content.current_page - 1) }}#generated-test-data">{{ _('Previous') }}</a>
                                </li>
                            {% endif %}

                                {% for p in range(1, content.total_pages + 1) %}
                                    <li class="pagination__item {% if p == content.current_page %}pagination__item--active{% endif %}">
                                        <a class="pagination__link" href="{{ url_for('playground_blueprint.show_playground', page=p) }}#generated-test-data">{{ p }}</a>
                                    </li>
                                {% endfor %}

                                {% if content.current_page < content.total_pages %}
                                    <li class="pagination__item">
                                        <a class="pagination__link" href="{{ url_for('playground_blueprint.show_playground', page=content.current_page + 1) }}#generated-test-data">{{ _('Next') }}</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>

                        <div class="output__item">{{ content.exec_data_html|safe }}</div>

                    <nav aria-label="Pagination">
                        <ul class="pagination">
                            {% if content.current_page > 1 %}
                                <li class="pagination__item">
                                    <a class="pagination__link" href="{{ url_for('playground_blueprint.show_playground', page=content.current_page - 1) }}#generated-test-data">{{ _('Previous') }}</a>
                                </li>
                            {% endif %}

                                {% for p in range(1, content.total_pages + 1) %}
                                    <li class="pagination__item {% if p == content.current_page %}pagination__item--active{% endif %}">
                                        <a class="pagination__link" href="{{ url_for('playground_blueprint.show_playground', page=p) }}#generated-test-data">{{ p }}</a>
                                    </li>
                                {% endfor %}

                                {% if content.current_page < content.total_pages %}
                                    <li class="pagination__item">
                                        <a class="pagination__link" href="{{ url_for('playground_blueprint.show_playground', page=content.current_page + 1) }}#generated-test-data">{{ _('Next') }}</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </details>

                    <details open class="collapsible">
                        <summary class="collapsible__label">{{ _('Test cases') }}</summary>
                        <p class="collapsible__content">{{ _('The test cases with the highest code coverage in the last generation were:') }}</p>

                        <div class="code-container">
                            {% if context.problem.data == "triangle-classification" %}
                                <div class="code-container__block">
                                    <pre class="line-numbers">
                                        <code class="language-python">
                                            def classify_triangle(data: list) -> str:
                                                """Classifies the triangle based on the given lengths"""
                                                classification = None
                                                a = data[0]
                                                b = data[1]
                                                c = data[2]

                                                if a > 0 and b > 0 and c > 0:
                                                    if a + b > c and b + c > a and c + a > b:
                                                        if a != b and b != c and c != a:
                                                            classification = 'scalene'
                                                        elif a == b == c:
                                                            classification = 'equilateral'
                                                        elif ((a == b != c) or
                                                              (a == c != b) or
                                                              (b == c != a)):
                                                            classification = 'isosceles'
                                                    else:
                                                        classification = 'invalid'
                                                else:
                                                    classification = 'out of range'

                                                return classification
                                        </code>
                                    </pre>
                                </div>

                                <div class="code-container__block">
                                    <pre class="line-numbers">
                                        <code class="language-python">
                                            {% for idx, inputs in content.test_suite %}
                                                def test_{{ idx }}():
                                                    """Test generated automatically by BiTe"""
                                                    inputs = {{ inputs }}
                                                    classification = classify_triangle(inputs)
                                                    # Default assertion
                                                    assert classification is not None
                                            {% endfor %}
                                        </code>
                                    </pre>
                                </div>

                            {%  endif %}
                        </div>
                    </details>

                {% else %}
                    <p class="output__item">{{ _('Run the algorithm to be able to visualize the results.') }}</p>
                {% endif %}
            </div>
        </div>
    </main>

{% endblock %}