<!DOCTYPE html>
<html lang="{{ current_lang }}">
<head>
    <meta charset="UTF-8">
    <title>{{ _('Report') }}</title>
</head>
<body>
    <h2>{{ _('Execution results') }}</h2>

    <h3>{{ _('Applied configuration') }}</h3>
    <div class="output__item">{{ config_html|safe }}</div>

    <h3>{{ _('Execution analysis graphs') }}</h3>
    <img src="data:image/png;base64,{{ content.plot_graph }}" class="output__item-image" alt="plot_graph">
    <img src="data:image/png;base64,{{ content.box_graph }}" class="output__item-image" alt="box_graph">

    <h3>{{ _('Test data generated') }}</h3>
    <div class="output__item {% if algorithm == "ga" %}ga-table{% endif %}">{{ exec_data_html|safe }}</div>

    <h3>{{ _('Test cases') }}</h3>
    <pre>
        <code>
            def classify_triangle(data: list) -> str:
                """Classifies the triangle based on the given lengths"""
                classification = None
                a = data[0]
                b = data[1]
                c = data[2]

                if a > 0 and b > 0 and c > 0:
                    if a + b > c and b + c > a and c + a > b:
                        if a != b and b != c and c != a:
                            classification = 'scalene'
                        elif a == b == c:
                            classification = 'equilateral'
                        elif ((a == b != c) or
                              (a == c != b) or
                              (b == c != a)):
                            classification = 'isosceles'
                    else:
                        classification = 'invalid'
                else:
                    classification = 'out of range'

                return classification
        </code>
    </pre>
    <pre>
        <code>
            {% for idx, inputs in content.test_suite %}
                def test_{{ idx }}():
                    """Test generated automatically by BiTe"""
                    inputs = {{ inputs }}
                    classification = classify_triangle(inputs)
                    # Default assertion
                    assert classification is not None
            {% endfor %}
        </code>
    </pre>
</body>
</html>