/* RESET Y BASE */
* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
}

header {
    border-bottom: 3px solid #ccc;
}

.header-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    height: 50px;
    background-color: #474e5d;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
}

/* NAVBAR */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}

.initial-form {
    display: flex;
    flex-direction: row;
}

.initial-form-right {
    display: flex;
    flex: 0 0 20%;
    flex-direction: row;
    margin: 10px;
    margin-left: auto;
}

.initial-form-left {
    display: flex;
    flex: 0 0 80%;
    flex-direction: row;
    margin: 10px;
}

.report-header {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 30px;
    width: 100%;
}

.report-config {
    flex: 1;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
}

.report-config table {
    width: auto;
    margin: 20px auto;
}

.report-graphic {
    flex: 1;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
}

.report-graphic img {
    max-width: 100%;
    height: auto;
}

.report-data {
    width: 100%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 20px;
}

.combo-header,
.label-header {
    padding: 5px;
    margin: 5px;
}

@media screen and (max-width: 1080px) {
    .initial-form {
        flex-direction: column;
    }
    .initial-form-left {
        flex-direction: column;
    }
    .initial-form-right {
        flex-direction: column;
        margin-left: 10px;
    }
    .report-header {
        flex-direction: column;  /* Stacks items on small screens */
    }
    .report-config,
    .report-graphic {
        width: 100%;
    }
}

main {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.left-panel {
    flex: 0 0 35%;
    padding: 20px;
    border-right: 1px solid #ccc;
}

.right-panel {
    flex: 0 0 65%;
    padding: 20px;
}

.container {
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

/* FORM */
.form-background {
    background-color: #f1f1f1;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    padding: 20px;
    border-radius: 6px;
    margin-bottom: 20px;
}

@media screen and (max-width: 1080px) {
  main {
    flex-direction: column;
  }

  .left-panel,
  .right-panel {
    flex: 1 1 auto;
  }
}

.form-group {
    display: flex;
    align-items: center;
    margin: 7px;
    flex-wrap: wrap;
    gap: 10px;
}

.label-form,
.form-control {
    width: 100%;
}

/* INPUTS */
input,
select {
    width: 45%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* BUTTONS */
button {
    width: auto;
    padding: 10px;
    margin: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}

button:disabled {
    background-color: #9E9E9E;
    color: #f1f1f1;
    cursor: not-allowed;
    opacity: 0.9;
}

.button  {
    width: auto;
    padding: 10px;
    margin: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}

button:hover {
    background-color: #45a049;
}

.centered-title {
    text-align: center;
    margin-bottom: 20px;
}

.about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
}

/* TABLES */
.config-table,
.exec-table {
    width: auto;
    max-width: 800px;
    border-collapse: collapse;
    font-size: 1rem;
    margin-bottom: 20px;
    overflow-x: auto;
    display: block;
}

th, td {
    border: 1px solid #ccc;
}

.graph-conf {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Float four columns side by side */
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the counter cards */
.team-member-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    justify-items: center;
    background-color: #f1f1f1;
    height: 100px;
}

.container-members {
    justify-content: center;
    align-items: center;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 1080px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}







