* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    border-bottom: 3px solid #ccc;
}

.header-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5px;
}

.header-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    height: 50px;
    background-color: #474e5d;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
}

.combobox-container, .combo-header, .label-header {
    width: auto;
    padding: 5px;
    margin-right: 10px;
}

.button-container button {
    width: auto;
    margin: 0 10px;
    padding: 8px 16px;
}

main {
    display: flex;
    flex: 1;
}

.left-panel {
    flex: 1;
    padding: 20px;
    background-color: white;
    border-right: 1px solid #ccc;
}

.right-panel {
    flex: 2;
    padding: 20px;
    background-color: white;
    border-right: 1px solid #ccc;
}

.graph {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    height: 200px;
    background-color: #c4c4c4;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

form {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    background-color: #f1f1f1;
    padding: 20px;
    max-width: 600px;
}

.form-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.label-form {
    width: 50%;
}

input, select {
    width: 45%;
    padding: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* visited link */
a:visited {
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}

.centered-title {
    text-align: center;
    margin-bottom: 20px;
}

.about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
}

/* Float four columns side by side */
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the counter cards */
.team-member-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}